$dark: (
    footer-background-color: #403E41,
    footer-color: #bdbdbd, 
    link: #FFD866,
    link-hover: #FF6188,
    title-color: #ffd866,
    meta-color: #FCFCFA,
    body-color: #FCFCFA,
    hr-color: #595B5C00,
    body-background-color: #2D2A2E,
    backdrop-background-color: #212121,
    dropdown-border-top-color: #424242,
    dropdown-item-active-background-color: #424242,
    dropdown-content-background-color: #595B5C,
    dropdown-item-hover-background-color: #727072,
    dropdown-item-hover-color: #FCFCFA,
    dropdown-item-color: #FCFCFA,    
    navbar-border-bottom-color: #4e4e4e,
    navbar-background-color: #403E41,
    navbar-mobile-background-color: #3a3a3a,
    navbar-title-color: #FCFCFA,
    navbar-title-hover-color: #FFD866,
    navbar-title-active-color: #FF6188,
    navbar-menu-hover-background-color: lighten(#403E41, 5%),
    navbar-dropdown-item-hover-color: #FFD866,
    sidebar-title-color: #aed581,
    sidebar-li-color: #FCFCFA,
    taxo-title-color: #bdbdbd,
    taxo-num-color: #FCFCFA,
    taxo-num-background-color: #212121,
    taxo-tags-background-color: lighten(#212121, 13%),
    taxo-tags-color: #78DCE8,
    taxo-series-background-color: lighten(#212121, 13%),
    taxo-series-color: #EA9C77,
    taxo-categories-background-color: lighten(#212121, 13%),
    taxo-categories-color: #AB9DF2,
    breadcrumb-item-color: #82aaff,
    breadcrumb-background-color: #212121,
    breadcrumb-item-active-color: #bdbdbd,
    list-header-title-color: #FCFCFA,
    figcaption-color: #bdbdbd,
    figcaption-strong-color: #FCFCFA,
    single-hr-background-color: #595B5C,
    single-blockquote-border-color: #FCFCFA,
    single-header-title-color: #FCFCFA,
    single-contents-title-color: #aed581,
    single-contents-subtitle-color: #FCFCFA,
    related-header-title-color: #FCFCFA,
    related-link-color: #A9DC76,
    content-box-border-color: #616161,
    content-box-background-color: #403E41,
    burger-menu-color: #FCFCFA,
    social-icon-color: #bdbdbd,
    social-icon-hover-color: lighten(#bdbdbd, 20%),
    pagination-link-color: #82aaff,
    pagination-background-color: #212121,
    pagination-disabled-color: #757575,
    pagination-number-color: #FCFCFA,
    terms-title-color: #ddd,
    terms-title-shadow-color: #403E41,
    terms-tags-color: #78DCE8,
    terms-categories-color: #AB9DF2,
    terms-series-color: #EA9C77,
    terms-len-color: #727072,
    toc-label-color: #727072,
    toc-title-color: #90a4ae,
    toc-vertical-line: #727072,
    toc-vertical-line-active: #FF6188,
    toc-header-background-color: #403E41,
    toc-header-background-color-hover: #424242,
    toc-body-background-color: #403E41,
    search-placeholder-color: #727072,
    search-color: #FCFCFA,
    search-icon-color: #727072,
    search-border-color: #1d1d1d,
    search-border-outline-color: rgba(66, 66, 66, 0.45),
    search-border-active-color: #424242,
    search-content-color: inherit,
    search-background-color: #212121,
    search-content-background-color: lighten(#403E41, 5%),
    search-hover-background-color: #403E41,
    search-highlight-color: #FF6188,
    selection-color: #FCFCFA,
    selection-background-color: #FF6188,
    archive-key-color: #FCFCFA,
    archive-type-color: #82aaff,
    archive-meta-color: #aed581,
    archive-key-background-color: #FF6188,
    archive-type-background-color: #424242,
    archive-hover-line-color: #FF6188,
    gtt-color: #bdbdbd,
    gtt-background-color: #403E41,
    gtt-hover-color: #82aaff,
    gtt-hover-background-color: lighten(#403E41, 5%),
    switch-background-color: #403E41,
    switch-button-color: #FCFCFA,
    switch-active-color: #FF6188,
    gallery-mask-color: #FCFCFA,
    gallery-mask-background-color: rgba(0, 0, 0, 0.7),
    contact-input-color: #FCFCFA,
    contact-input-background-color: lighten(#403E41, 5%),
    contact-button-background-color: lighten(#403E41, 5%),
    custom-scrollbar-foreground-color: #888,
    custom-scrollbar-background-color: #eee,
    share-color: #dbdbdb,
    share-shadow-color: #888,
    share-background-color: lighten(#403E41, 2.5%),
    donation-background-color: #525252,
    button-primary-color: $button_dark_primary_color,
);
