{{ if $.Params.header }}  
  {{ range $.Params.header }}
    {{ if eq .type "text" }}
      <div class="site-header basicflex-column site-header__align-{{ .align }}" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}" style="width: 100%; height: {{ .height }}px; padding: {{ .paddingY }}px {{ .paddingX }}px;">
        {{ $header := . }}
        {{ if .title }}            
          {{ range .title }}
          <div class="site-header__title {{ if $header.titleShadow }}site-header__title--shadow{{ end }}" style="font-size: {{ $header.titleFontSize }}px; {{ with $header.titleColor }}color:{{ . }}{{ end }};">
            {{ . }}
          </div>
          {{ end }}
        {{ end }}
        {{ if .spaceBetweenTitleSubtitle }}
          <div style="height: {{ .spaceBetweenTitleSubtitle }}px"></div>
        {{ end }}
        {{ if .subtitle }}
          {{ range .subtitle }} 
          <div class="site-header__subtitle" style="font-size: {{ $header.subtitleFontSize }}px; {{ with $header.subtitleColor }}color:{{ . }}{{ end }}" data-cursive="{{ with $header.subtitleCursive }}{{ . }}{{ end }}">
            {{ . }}
          </div>
          {{ end }}      
        {{ end }}
      </div>
    {{ end }}
  {{ end }}
{{ end }}
{{ partial "service/google-adsense" . }}